In [4]:
#引入包
import numpy as np
import pandas as pd

# 端午节的淘宝粽子交易 

## 问题

(1) 请删除最后一列为缺失值的行，并求所有在杭州发货的商品单价均值。 【缺失】 

(2) 商品标题带有“嘉兴”但发货地却不在嘉兴的商品有多少条记录?  【文本】

(3) 请按照分位数将价格分为“高、较高、中、较低、低”5 个类别，再将 类别结果插入到标题一列之后，最后对类别列进行降序排序。  

(4) 付款人数一栏有缺失值吗?若有则请利用上一问的分类结果对这些缺失 值进行合理估计并填充。 【缺失】

(5) 请将数据后四列合并为如下格式的 Series:商品发货地为 ××，店铺为 ××，共计 ×× 人付款，单价为 ××。  【文本】

(6) 请将上一问中的结果恢复成原来的四列。  【文本】

In [8]:
#读取数据表
df_zongzi = pd.read_csv('./data/端午粽子数据.csv')  
df_zongzi.head()

                                  标题    价格      付款人数        店铺  发货地址
0   五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129      6人付款  五芳斋官方旗舰店  浙江 嘉兴
1  北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44      8人付款      天猫超市     上海
2     五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  100万+人付款  五芳斋官方旗舰店  浙江 嘉兴
3     稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138   1936人付款  稻香村食品旗舰店     北京
4     嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  9500+人付款     城城喂食猫  浙江 嘉兴

In [9]:
df_zongzi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4403 entries, 0 to 4402
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   标题      4403 non-null   object
 1    价格     4403 non-null   object
 2   付款人数    4332 non-null   object
 3   店铺      4403 non-null   object
 4   发货地址    4400 non-null   object
dtypes: object(5)
memory usage: 172.1+ KB

In [14]:
df_zongzi.isna().sum()

标题        0
 价格       0
付款人数     71
店铺        0
发货地址      3
dtype: int64

In [16]:
df_zongzi[df_zongzi['付款人数'].isna()].head()

                                    标题    价格 付款人数     店铺 发货地址
183  五芳斋 140g*8只大粽子 福韵端午豆沙蜜枣蛋黄粽新包装送礼礼盒  50.9  NaN  天猫会员店    上海
243          五芳斋福雅五芳粽子礼盒端午咸甜粽子绿豆糕咸鸭蛋送礼  79.9  NaN  天猫会员店    上海
347        【百草味】龙腾粽1090g 早餐大肉粽子湖州特产嘉兴粽  39.9  NaN  天猫会员店    上海
386       五芳斋华礼竹篮礼盒1360g蛋粽组合端午礼品嘉兴粽子礼盒   129  NaN  天猫会员店    上海
389    百草味 龙腾粽礼盒1460g 10只装早餐大肉粽子湖州特产嘉兴  49.9  NaN  天猫会员店    上海

In [12]:
df_zongzi.copy().dropna(axis=0)

                                     标题    价格      付款人数          店铺  发货地址
0      五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129      6人付款    五芳斋官方旗舰店  浙江 嘉兴
1     北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44      8人付款        天猫超市     上海
2        五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  100万+人付款    五芳斋官方旗舰店  浙江 嘉兴
3        稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138   1936人付款    稻香村食品旗舰店     北京
4        嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  9500+人付款       城城喂食猫  浙江 嘉兴
...                                 ...   ...       ...         ...    ...
4398  红船100克*2只五谷杂粮粽 浙江特产嘉兴粽子 团购粽子嘉兴端午节   7.9    347人付款       红船旗舰店  浙江 嘉兴
4399    隐栗古法烧肉粽/咸蛋黄/豆沙板栗端午粽子三种口味6只家庭礼盒装    93     80人付款   峨眉山隐栗粑粑罗栗  四川 乐山
4400     五芳斋 佛系粽子全素口味礼盒装桂花八宝粽豆沙甜粽端午礼品团购  98.2      5人付款      北京美程嘉译     北京
4401     【粉丝专享】端午节特产新鲜蛋黄鲜肉粽豆沙嘉兴粽子800g/箱  65.9    149人付款  chaoge1931  安徽 合肥
4402   粽子端午节送礼盒包装1200g双蛋黄广东东莞大个道滘裹蒸棕鲜肉粽    99     20人付款     hezhiqi  广东 东莞

[4329 rows x 5 columns]

In [13]:
df_zongzi.copy().dropna(axis=1)

                                     标题    价格          店铺
0      五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129    五芳斋官方旗舰店
1     北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44        天猫超市
2        五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9    五芳斋官方旗舰店
3        稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138    稻香村食品旗舰店
4        嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8       城城喂食猫
...                                 ...   ...         ...
4398  红船100克*2只五谷杂粮粽 浙江特产嘉兴粽子 团购粽子嘉兴端午节   7.9       红船旗舰店
4399    隐栗古法烧肉粽/咸蛋黄/豆沙板栗端午粽子三种口味6只家庭礼盒装    93   峨眉山隐栗粑粑罗栗
4400     五芳斋 佛系粽子全素口味礼盒装桂花八宝粽豆沙甜粽端午礼品团购  98.2      北京美程嘉译
4401     【粉丝专享】端午节特产新鲜蛋黄鲜肉粽豆沙嘉兴粽子800g/箱  65.9  chaoge1931
4402   粽子端午节送礼盒包装1200g双蛋黄广东东莞大个道滘裹蒸棕鲜肉粽    99     hezhiqi

[4403 rows x 3 columns]

In [11]:
df_zongzi.copy().dropna(axis=0,subset=['发货地址 '])  # 发货地址后面有一个空格

                                     标题    价格      付款人数          店铺  发货地址
0      五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子   129      6人付款    五芳斋官方旗舰店  浙江 嘉兴
1     北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽    44      8人付款        天猫超市     上海
2        五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品  89.9  100万+人付款    五芳斋官方旗舰店  浙江 嘉兴
3        稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购   138   1936人付款    稻香村食品旗舰店     北京
4        嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味   3.8  9500+人付款       城城喂食猫  浙江 嘉兴
...                                 ...   ...       ...         ...    ...
4398  红船100克*2只五谷杂粮粽 浙江特产嘉兴粽子 团购粽子嘉兴端午节   7.9    347人付款       红船旗舰店  浙江 嘉兴
4399    隐栗古法烧肉粽/咸蛋黄/豆沙板栗端午粽子三种口味6只家庭礼盒装    93     80人付款   峨眉山隐栗粑粑罗栗  四川 乐山
4400     五芳斋 佛系粽子全素口味礼盒装桂花八宝粽豆沙甜粽端午礼品团购  98.2      5人付款      北京美程嘉译     北京
4401     【粉丝专享】端午节特产新鲜蛋黄鲜肉粽豆沙嘉兴粽子800g/箱  65.9    149人付款  chaoge1931  安徽 合肥
4402   粽子端午节送礼盒包装1200g双蛋黄广东东莞大个道滘裹蒸棕鲜肉粽    99     20人付款     hezhiqi  广东 东莞

[4400 rows x 5 columns]

In [18]:
#(1) 请删除最后一列为缺失值的行，并求所有在杭州发货的商品单价均值。 
zongzi = df_zongzi.copy().dropna(axis=0,subset=['发货地址 '])#4400条，以下问题均以此表为基础
#dropna(axis=0,subset=['发货地址 '])参数1表示如果某行有缺失值则就删除这行；subset参数（即在某一组列范围中搜索缺失值）

In [19]:
pd.to_numeric(zongzi[zongzi['发货地址 '].str.contains('杭州')][' 价格'],errors='coerce').mean()

81.10145251396636

In [24]:
#(2) 商品标题带有“嘉兴”但发货地却不在嘉兴的商品有多少条记录?  
zongzi.columns

Index(['标题', ' 价格', '付款人数', '店铺', '发货地址 '], dtype='object')

In [22]:
#利用两个条件：标题包含嘉兴以及发货地址不包含嘉兴作为zongzi这个DataFrame的选择条件，求多少条，则应该输出其行，则是shape[0]
zongzi[(zongzi['标题'].str.contains('嘉兴'))&(~zongzi['发货地址 '].str.contains('嘉兴'))]

                                     标题     价格     付款人数          店铺  发货地址
3        稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购    138  1936人付款    稻香村食品旗舰店     北京
6          五芳斋华礼竹篮礼盒1360g蛋粽组合端午礼品嘉兴粽子礼盒    159  1028人付款        天猫超市     上海
8     真真老老嘉情礼盒10粽6蛋1.52kg/盒嘉兴粽子端午节粽子礼盒装    109  2117人付款        天猫超市     上海
9     五芳斋嘉兴粽子新鲜量贩蛋黄肉粽豆沙粽悦喜散装端午特产600g*2袋   59.9  1349人付款        天猫超市     上海
10         真真老老粽子臻芯800g/盒*1端午节礼盒装嘉兴特产送礼     75  1815人付款        天猫超市     上海
...                                 ...    ...      ...         ...    ...
4377      超港端午粽子肉粽蜜枣粽大肉棕子黄山特产礼盒新鲜嘉兴粽子肉粽   39.9    67人付款       超港旗舰店  安徽 黄山
4383     真真老老真情粽子咸蛋礼盒嘉兴特产肉粽豆沙甜枣粽端午节团购批发   79.9    10人付款     曈宝食品专营店     上海
4386     臻味德嘉兴粽子竹篮礼盒装农家手工蛋黄鲜肉棕甜粽端午节伴手礼品  49.08     2人付款       气泡西柚屋  浙江 温州
4393      傅太粽子10只蛋黄肉粽鲜肉粽嘉兴风味肉粽子即食早餐端午团购   60.2    46人付款      love侯氏  江西 萍乡
4401     【粉丝专享】端午节特产新鲜蛋黄鲜肉粽豆沙嘉兴粽子800g/箱   65.9   149人付款  chaoge1931  安徽 合肥

[1032 rows x 5 columns]

In [25]:
zongzi[(zongzi['标题'].str.contains('嘉兴')) &(~zongzi['发货地址 '].str.contains('嘉兴'))].shape[0]

1032

In [27]:
#(3) 请按照分位数将价格分为“高、较高、中、较低、低”5 个类别，再将 类别结果插入到标题一列之后，最后对类别列进行降序排序。
zongzi.loc[:,' 价格'] = pd.to_numeric(zongzi.loc[:,' 价格'],errors='coerce')

In [29]:
q = [zongzi.loc[:,' 价格'].quantile(i) for i in [0,.2,.4,.6,.8,1]];q[-1] += 1 
q

[2.8, 22.8, 39.8, 60.0, 106.2, 1781.0]

In [30]:
zongzi.loc[:,'价格类别'] = pd.cut(zongzi[' 价格'],q,right=False,labels=['低','较低','中','较高','高'])

In [31]:
zongzi.loc[:,['标题','价格类别', ' 价格', '付款人数', '店铺', '发货地址 ']].sort_values(by='价格类别')

,标题,价格类别,价格,付款人数,店铺,发货地址
3666,嘉兴五芳斋粽子紫米栗蓉粽板栗栗子甜粽子五谷素粽真空袋装美味,低,11.0,162人付款,三珍斋食品专营店,江苏 南京
1623,白米粽子新鲜湖南甜粽原味小粽子农家手工散装绿豆红枣碱水清水粽,低,20.9,181人付款,乐家_stone,湖南 常德
1053,【9只特价】新鲜蛋黄肉粽 嘉兴粽子特产端午节批发团购早餐粽手工,低,20.8,1358人付款,怡品三清旗舰店,浙江 杭州
3743,三珍斋嘉兴粽子大肉粽子蛋黄肉粽豆沙蜜枣端午节散装批发鲜肉棕子,低,19.9,35人付款,三珍斋乌镇专卖,浙江 嘉兴
1311,现做新鲜粽子咸蛋黄肉粽甜粽端午节散装嘉兴蜜枣豆沙大批發礼盒装,低,9.9,5000+人付款,徽老九美食,安徽 亳州
...,...,...,...,...,...,...
3548,锦华粽子瑞阳祥礼端午节礼盒新鲜嘉兴肉素六粒粽蛋卷组合送人礼品,高,110.6,36人付款,北京咏逢礼信商贸有限公司,北京
3523,印象昆韵新品昆曲文化创意端午节胚芽糙米手工肉粽子端阳礼品礼盒,高,156.0,21人付款,印象昆韵,江苏 苏州
0,五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子,高,129.0,6人付款,五芳斋官方旗舰店,浙江 嘉兴
538,五芳斋粽子蛋黄鲜肉粽豆沙粽栗子肉棕子新鲜散装批发团购嘉兴肉粽,NaN,NaN,1.0万+人付款,五芳斋官方旗舰店,浙江 嘉兴
4376,东方贺礼端午节礼盒嘉兴粽子高汤蛋黄鲜大肉粽特产现已支持定制,NaN,NaN,17人付款,缘来有礼,浙江 杭州

In [33]:
#(4) 付款人数一栏有缺失值吗?若有则请利用上一问的分类结果对这些缺失值进行合理估计并填充。 
zongzi_loss = zongzi.copy() 
zongzi_loss.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4400 entries, 0 to 4402
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   标题      4400 non-null   object
 1    价格     4398 non-null   float64
 2   付款人数    4329 non-null   object
 3   店铺      4400 non-null   object
 4   发货地址    4400 non-null   object
 5   价格类别    4398 non-null   category
dtypes: category(1), float64(1), object(4)
memory usage: 210.7+ KB

In [34]:
#用同价格类别的付款人数均值（不考虑100余条类似1.0万+、5000+等较大数值。）
grouped = zongzi_loss.groupby('价格类别')  
for name,group in grouped:
    zongzi_loss.loc[group.index,'付款人数'] = str(int(pd.to_numeric(group['付款人数'].astype(str).str[:-3],errors='coerce').mean()))+'人付款'

In [36]:
zongzi_loss.isna().sum()

标题       0
 价格      2
付款人数     0
店铺       0
发货地址     0
价格类别     2
dtype: int64

In [42]:
z1=zongzi_loss.head()     
z1

                                  标题     价格    付款人数        店铺  发货地址  价格类别
0   五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子  129.0  139人付款  五芳斋官方旗舰店  浙江 嘉兴    高
1  北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽   44.0  357人付款      天猫超市     上海    中
2     五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品   89.9  291人付款  五芳斋官方旗舰店  浙江 嘉兴   较高
3     稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购  138.0  139人付款  稻香村食品旗舰店     北京    高
4     嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味    3.8  540人付款     城城喂食猫  浙江 嘉兴    低

In [43]:
z2=zongzi_loss.tail()
z2

                                     标题    价格    付款人数          店铺  发货地址  价格类别
4398  红船100克*2只五谷杂粮粽 浙江特产嘉兴粽子 团购粽子嘉兴端午节   7.9  540人付款       红船旗舰店  浙江 嘉兴    低
4399    隐栗古法烧肉粽/咸蛋黄/豆沙板栗端午粽子三种口味6只家庭礼盒装  93.0  291人付款   峨眉山隐栗粑粑罗栗  四川 乐山   较高
4400     五芳斋 佛系粽子全素口味礼盒装桂花八宝粽豆沙甜粽端午礼品团购  98.2  291人付款      北京美程嘉译     北京   较高
4401     【粉丝专享】端午节特产新鲜蛋黄鲜肉粽豆沙嘉兴粽子800g/箱  65.9  291人付款  chaoge1931  安徽 合肥   较高
4402   粽子端午节送礼盒包装1200g双蛋黄广东东莞大个道滘裹蒸棕鲜肉粽  99.0  291人付款     hezhiqi  广东 东莞   较高

In [44]:
pd.concat([z1,z2])

                                     标题     价格    付款人数          店铺  发货地址  价格类别
0      五芳斋粽子礼盒 心悦+18只装咸鸭蛋组合端午节礼品团购嘉兴肉粽子  129.0  139人付款    五芳斋官方旗舰店  浙江 嘉兴    高
1     北京稻香村端午粽子手工豆沙粽220g*2袋散装豆沙粽香甜软糯豆沙粽   44.0  357人付款        天猫超市     上海    中
2        五芳斋粽子礼盒装鲜肉咸蛋黄大肉粽嘉兴豆沙甜粽端午团购散装礼品   89.9  291人付款    五芳斋官方旗舰店  浙江 嘉兴   较高
3        稻香私房鲜肉粽蛋黄肉粽嘉兴粽子咸鸭蛋礼盒装端午节送礼特产团购  138.0  139人付款    稻香村食品旗舰店     北京    高
4        嘉兴粽子 蛋黄鲜肉粽新鲜大肉粽早餐散装团购浙江特产蜜枣多口味    3.8  540人付款       城城喂食猫  浙江 嘉兴    低
4398  红船100克*2只五谷杂粮粽 浙江特产嘉兴粽子 团购粽子嘉兴端午节    7.9  540人付款       红船旗舰店  浙江 嘉兴    低
4399    隐栗古法烧肉粽/咸蛋黄/豆沙板栗端午粽子三种口味6只家庭礼盒装   93.0  291人付款   峨眉山隐栗粑粑罗栗  四川 乐山   较高
4400     五芳斋 佛系粽子全素口味礼盒装桂花八宝粽豆沙甜粽端午礼品团购   98.2  291人付款      北京美程嘉译     北京   较高
4401     【粉丝专享】端午节特产新鲜蛋黄鲜肉粽豆沙嘉兴粽子800g/箱   65.9  291人付款  chaoge1931  安徽 合肥   较高
4402   粽子端午节送礼盒包装1200g双蛋黄广东东莞大个道滘裹蒸棕鲜肉粽   99.0  291人付款     hezhiqi  广东 东莞   较高

In [45]:
zongzi_loss.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4400 entries, 0 to 4402
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   标题      4400 non-null   object
 1    价格     4398 non-null   float64
 2   付款人数    4400 non-null   object
 3   店铺      4400 non-null   object
 4   发货地址    4400 non-null   object
 5   价格类别    4398 non-null   category
dtypes: category(1), float64(1), object(4)
memory usage: 370.7+ KB

In [46]:
#(5) 请将数据后四列合并为如下格式的 Series:商品发货地为 ××，店铺为 ××，共计 ×× 人付款，单价为 ××。
df_series = zongzi_loss.astype(str)
df_str = ('商品发货地为'+df_series['发货地址 ']+'，店铺为'+df_series['店铺']+'，共计'+df_series['付款人数']+'，单价为'+df_series[' 价格']+'。')
df_str.head()

0    商品发货地为浙江 嘉兴，店铺为五芳斋官方旗舰店，共计139人付款，单价为129.0。
1            商品发货地为上海，店铺为天猫超市，共计357人付款，单价为44.0。
2     商品发货地为浙江 嘉兴，店铺为五芳斋官方旗舰店，共计291人付款，单价为89.9。
3       商品发货地为北京，店铺为稻香村食品旗舰店，共计139人付款，单价为138.0。
4         商品发货地为浙江 嘉兴，店铺为城城喂食猫，共计540人付款，单价为3.8。
dtype: object

In [47]:
#(6) 请将上一问中的结果恢复成原来的四列。利用正则化切割恢复成四例。  
df_res = df_str.str.extract(r'商品发货地为(?P<发货地址>[\w]+\s*[\w]+)，店铺为(?P<店铺>[\w]+)，共计(?P<付款人数>[\w]+\+*[\w]+)，单价为(?P<价格>[\d]+\.*[\d]+)。')
df_res.head()

    发货地址        店铺    付款人数     价格
0  浙江 嘉兴  五芳斋官方旗舰店  139人付款  129.0
1     上海      天猫超市  357人付款   44.0
2  浙江 嘉兴  五芳斋官方旗舰店  291人付款   89.9
3     北京  稻香村食品旗舰店  139人付款  138.0
4  浙江 嘉兴     城城喂食猫  540人付款    3.8

## 墨尔本每日最低温度 
### 问题 

(1) 剔除国庆节、五一劳动节和每月第一个周一，求每月的平均最低气温。 

(2) 季节指数是一种对于周期性变化序列的特征刻画。记数据集中第 k 年 平均最低气温为 TYk(k = 1, ..., 10)，第 k 年第 j 个月平均最低气温为 。请按照如上定义，计算 12 个 ∑ TMkj TM (j = 1, ..., 12)，定义 S = k kj j 月的季节指数 Sj。

(3) 移动平均法是一种时间序列的常见平滑方式，可分为 k 期移动平均和 k 期中心移动平均，都使用了某一时刻及其周围的数据对该时刻的数据进行平滑修正。

In [48]:
#读取数据表
#读取数据表
df_melbourne = pd.read_csv('./data/墨尔本温度数据.csv')#墨尔本1981-1990共十年最低气温数据
df_melbourne.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [49]:
df_melbourne['Date'] = pd.to_datetime(df_melbourne['Date']) #转换为时间数据格式to_datetime
df_melbourne = df_melbourne.set_index('Date',drop=True)
df_melbourne.index

DatetimeIndex(['1981-01-01', '1981-01-02', '1981-01-03', '1981-01-04',
               '1981-01-05', '1981-01-06', '1981-01-07', '1981-01-08',
               '1981-01-09', '1981-01-10',
               ...
               '1990-12-22', '1990-12-23', '1990-12-24', '1990-12-25',
               '1990-12-26', '1990-12-27', '1990-12-28', '1990-12-29',
               '1990-12-30', '1990-12-31'],
              dtype='datetime64[ns]', name='Date', length=3650, freq=None)

In [50]:
# (1) 剔除国庆节、五一劳动节和每月第一个周一，求每月的平均最低气温。

# 1999年9月,国务院改革出台新的法定休假制度,每年国庆节、春节和“五一”法定节日加上倒休,全国放假7天。
# 假设本题中国庆节、五一劳动节特指10.1、5.1两天

d = pd.date_range(start='1981-1-1',end='1990-12-31')
mask1 = (d.weekday == 0) & (0< d.day) & (d.day < 8)
mask10 = (d.month==10)&(d.day==1) 
mask5 = (d.month==5)&(d.day==1) 
holidays = d[mask1].append(d[mask5]).append(d[mask10]).sort_values()
weekmask = 'Sun Mon Tue Wed Thu Fri Sat'

# bdate_range是一个类似与date_range的方法，特点在于可以在自带的工作日间隔设置上，再选择weekmask参数和holidays参数 
# 它的freq中有一个特殊的'C'/'CBM'/'CBMS'选项，表示定制，需要联合weekmask参数和holidays参数使用
melbourne = df_melbourne.copy().reindex(pd.bdate_range(start='1981-1-1',end='1990-12-31',freq='C',weekmask = weekmask,holidays=holidays))
#C是 CDay(定制工作日)
#求每月的平均最低气温
melbourne.resample('M').mean().head()   
#以月份resample('M')重采样。
# 所谓重采样，就是指resample函数，它可以看做时序版本的groupby函数

                 Temp
1981-01-31  17.776667
1981-02-28  17.637037
1981-03-31  13.330000
1981-04-30  12.210345
1981-05-31   9.551724

In [51]:
#(2) 季节指数,月均值/年均值
TY   = df_melbourne.resample('Y').mean().sum()
TMkj = df_melbourne.resample('M').mean()

for i in range(12):
    j = i+1
    print('S{}='.format(j),(TMkj[TMkj.index.month==j].sum()/TY).values[0].round(decimals=4))

S1= 1.3447
S2= 1.3758
S3= 1.3031
S4= 1.0815
S5= 0.8827
S6= 0.6511
S7= 0.5987
S8= 0.706
S9= 0.8031
S10= 0.9223
S11= 1.1165
S12= 1.2394

In [52]:
#(3) 移动平均
#(a) 求原序列的 5 期移动平均序列(自身与前四个的均值)
df_melbourne.rolling(window=5,min_periods=-5).sum()/5
#所谓rolling方法，就是规定一个窗口，它和groupby对象一样，本身不会进行操作，需要配合聚合函数才能计算结果
#min_periods参数是指需要的非缺失数据点数量阀值

             Temp
Date
1981-01-01   4.14
1981-01-02   7.72
1981-01-03  11.48
1981-01-04  14.40
1981-01-05  17.56
...           ...
1990-12-27  13.08
1990-12-28  13.02
1990-12-29  13.72
1990-12-30  14.28
1990-12-31  13.96

[3650 rows x 1 columns]

In [53]:
#(b) 原序列的 5 期中心移动平均序列。
df_melbourne.rolling(window=5,min_periods=-5).sum().shift(-2)/5
#原序列的 6 期中心移动平均序列。
(df_melbourne.shift(-3)/2+df_melbourne.rolling(window=5,min_periods=-5).sum().shift(-2)+df_melbourne.shift(3)/2)/6

                 Temp
Date
1981-01-01        NaN
1981-01-02        NaN
1981-01-03        NaN
1981-01-04  16.858333
1981-01-05  16.408333
...               ...
1990-12-27  13.575000
1990-12-28  14.058333
1990-12-29        NaN
1990-12-30        NaN
1990-12-31        NaN

[3650 rows x 1 columns]

## 2016 年 8 月上海市摩拜单车骑行记录
### 问题

(1) 平均而言，周末单天用车量比工作日单天用车量更大吗?

(2) 工作日每天的高峰时间段大致为上午 7:30 至 9:30、下午 17:00 至 19:00， 请问 8 月里早高峰骑行记录量(以 start_time 为准)高于晚高峰的有 几天?

(3) 请给出在所有周五中(以 start_time 为准)，记录条数最多的那个周五 所在的日期，并在该天内分别按 30 分钟、2 小时、6 小时统计摩拜单车 使用时间的均值。

(4) 请自行搜索相关代码或调用库，计算每条记录起点到终点的球面距离。

(5) 摩拜单车的骑行结束时间是以电子锁关闭的记录时间为准，但有时候用 户会忘记关锁，导致骑行时间出现异常。同时，正常人的骑行速度往往 大致落在一个合理的区间，请结合上一问中的球面距离和骑行起始、结 束时间，找出潜在的异常骑行记录。

(6) 由于路线的曲折性，起点到终点的球面距离往往不能充分反应行程长 度，请利用 track 列的路线坐标数据，计算估计实际骑行距离，并重新 仿照上一问的方法找出可能的异常记录。

In [54]:
df_mobike=pd.read_csv('./data/摩拜单车数据.csv')
df_mobike.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [55]:
df_mobike.columns

Index(['orderid', 'bikeid', 'userid', 'start_time', 'start_location_x',
       'start_location_y', 'end_time', 'end_location_x', 'end_location_y',
       'track'],
      dtype='object')

In [57]:
df_mobike.shape[0]

102361

In [58]:
df_mobike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   orderid           102361 non-null  int64
 1   bikeid            102361 non-null  int64
 2   userid            102361 non-null  int64
 3   start_time        102361 non-null  object
 4   start_location_x  102361 non-null  float64
 5   start_location_y  102361 non-null  float64
 6   end_time          102361 non-null  object
 7   end_location_x    102361 non-null  float64
 8   end_location_y    102361 non-null  float64
 9   track             102361 non-null  object
dtypes: float64(4), int64(3), object(3)
memory usage: 7.8+ MB

In [59]:
df_mobike.start_time = pd.to_datetime(df_mobike.start_time) 
df_mobike.end_time = pd.to_datetime(df_mobike.end_time) 
df_mobike = df_mobike.set_index('start_time',drop=False)  #这一步设置了index为'start_time'，所以下面的.index获取的是开始时间

# DataFrame可以通过set_index方法，设置单索引和复合索引。 
# DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False) 
# reset_index可以还原索引，重新变为默认的整型索引 
# DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill=”) 
# level控制了具体要还原的那个等级的索引 
# drop为False则索引列会被还原为普通列，否则会丢失

In [60]:
#（1) 平均而言，周末单天用车量比工作日单天用车量更大吗?
#freq参数 D/B：日/工作日 通过加入周末与只计算工作日的平均值的大小来对比？
print('周末单天用车量比工作日单天用车量更大吗?',df_mobike.resample('D').count().mean()[0]>df_mobike.resample('B').count().mean()[0])

周末单天用车量比工作日单天用车量更大吗? False

In [61]:
#(2) 工作日每天的高峰时间段大致为上午 7:30 至 9:30、下午 17:00 至 19:00， 
# 请问 8 月里早高峰骑行记录量(以 start_time 为准)高于晚高峰的有 几天?

highday=[]
for i in range(31):
    day = '2016-8-{}'.format(i+1) #‘{}’.format(i+1)表示的是i+1替代方括号被写入
    if(pd.to_datetime(day).dayofweek>4):continue#跳过周末
    morning   = df_mobike[(df_mobike.index>='{} 07:30'.format(day))&( df_mobike.index<='{} 09:30'.format(day))].count()[0]
    #df_mobike.index就是时间？[59]那步改了
    afternoon = df_mobike[(df_mobike.index>='{} 17:00'.format(day))&( df_mobike.index<='{} 19:00'.format(day))].count()[0]
    if(morning>afternoon):
        highday.append(day)
print("8 月早高峰骑行记录量高于晚高峰的有{}天,分别是{}".format(len(highday),highday))

8 月早高峰骑行记录量高于晚高峰的有3天,分别是['2016-8-4', '2016-8-29', '2016-8-30']

In [62]:
#(3) 请给出在所有周五中(以 start_time 为准)，记录条数最多的那个周五 所在的日期，
friday = df_mobike[df_mobike.index.dayofweek==4]['orderid'].resample('D').count().idxmax()
print('条数最多的那个周五是',friday.date())

df_mobike_friday = df_mobike[str(friday.date())].copy()
df_mobike_friday['usetime'] = (df_mobike_friday.end_time-df_mobike_friday.start_time).dt.total_seconds()
#采用dt对象可以轻松获得关于时间的信息，转为绝对秒数求均值
#并在该天内分别按 30 分钟、2 小时、6 小时统计摩拜单车 使用时间的均值。

#Timedelta绝对时间差的特点指无论是冬令时还是夏令时，增减1day都只计算24小时 
#分别以30min，2小时，6小时对使用时间进行采样，每一个都采样五个点
display( 
    df_mobike_friday['usetime'].resample('30min').mean().apply(lambda x:pd.Timedelta(seconds = int(x))).head(),
    df_mobike_friday['usetime'].resample('2h'   ).mean().apply(lambda x:pd.Timedelta(seconds = int(x))).head(),
    df_mobike_friday['usetime'].resample('6h'   ).mean().apply(lambda x:pd.Timedelta(seconds = int(x))).head(),
)

条数最多的那个周五是 2016-08-26

start_time
2016-08-26 00:00:00   00:18:56
2016-08-26 00:30:00   00:26:42
2016-08-26 01:00:00   00:13:27
2016-08-26 01:30:00   00:15:30
2016-08-26 02:00:00   00:17:17
Freq: 30T, Name: usetime, dtype: timedelta64[ns]

start_time
2016-08-26 00:00:00   00:19:57
2016-08-26 02:00:00   00:19:18
2016-08-26 04:00:00   00:13:33
2016-08-26 06:00:00   00:11:31
2016-08-26 08:00:00   00:11:35
Freq: 2H, Name: usetime, dtype: timedelta64[ns]

start_time
2016-08-26 00:00:00   00:17:47
2016-08-26 06:00:00   00:11:39
2016-08-26 12:00:00   00:16:00
2016-08-26 18:00:00   00:21:39
Freq: 6H, Name: usetime, dtype: timedelta64[ns]

In [66]:
#（4）起点终点球面距离
from geopy.distance import geodesic 
df_mobike_dist = df_mobike.copy() 
df_mobike_dist.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
start_time,,,,,,,,,,
2016-08-20 06:57:00,78387,158357,10080,2016-08-20 06:57:00,121.348,31.389,2016-08-20 07:04:00,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
2016-08-29 19:09:00,891333,92776,6605,2016-08-29 19:09:00,121.508,31.279,2016-08-29 19:31:00,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2016-08-13 16:17:00,1106623,152045,8876,2016-08-13 16:17:00,121.383,31.254,2016-08-13 16:36:00,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
2016-08-23 21:34:00,1389484,196259,10648,2016-08-23 21:34:00,121.484,31.320,2016-08-23 21:43:00,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
2016-08-16 07:32:00,188537,78208,11735,2016-08-16 07:32:00,121.407,31.292,2016-08-16 07:41:00,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [67]:
#计算起始点距离，单位m米
df_mobike_dist['se_dist'] = df_mobike_dist.apply(lambda x: geodesic((x.start_location_y,x.start_location_x),(x.end_location_y,x.end_location_x)).m,axis=1)

In [73]:
df_mobike_dist.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,se_dist,usetime,se_speed,track_dist,track_speed
start_time,,,,,,,,,,,,,,,
2016-08-20 06:57:00,78387,158357,10080,2016-08-20 06:57:00,121.348,31.389,2016-08-20 07:04:00,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1...",863.184592,420.0,2.055201,2676.949097,6.373688
2016-08-29 19:09:00,891333,92776,6605,2016-08-29 19:09:00,121.508,31.279,2016-08-29 19:31:00,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1...",2015.071985,1320.0,1.526570,4130.217576,3.128953
2016-08-13 16:17:00,1106623,152045,8876,2016-08-13 16:17:00,121.383,31.254,2016-08-13 16:36:00,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1...",2198.627466,1140.0,1.928621,5824.771847,5.109449
2016-08-23 21:34:00,1389484,196259,10648,2016-08-23 21:34:00,121.484,31.320,2016-08-23 21:43:00,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1...",1355.870641,540.0,2.510872,2379.539757,4.406555
2016-08-16 07:32:00,188537,78208,11735,2016-08-16 07:32:00,121.407,31.292,2016-08-16 07:41:00,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1...",1137.383495,540.0,2.106266,1523.780162,2.821815

In [68]:
#(5)请结合上一问中的球面距离和骑行起始、结束时间，找出潜在的异常骑行记录。
df_mobike_dist['usetime'] = (df_mobike_dist.end_time-df_mobike_dist.start_time).dt.total_seconds()#转为绝对秒数求均值
df_mobike_dist['se_speed'] = df_mobike_dist.apply(lambda x:x.se_dist/x.usetime,axis=1)
#x.se_dist/x.usetime 直接利用整列相除

In [69]:
print('mean',df_mobike_dist.se_speed.mean())
for q in [0.95,0.75,0.5,0.25,0.1,0.05,0.04,0.03,0.02,0.01,0.001]:
    print(q*100,'分位数',df_mobike_dist.se_speed.quantile(q)) 
# xx分位数就是速度乘以从[0.95,0.75,0.5,0.25,0.1,0.05,0.04,0.03,0.02,0.01,0.001]中选出 xx？
    
#可能忘记锁车的：速度很小很小，代表后面一直没动，所以忘记锁车了
df_mobike_dist[df_mobike_dist.se_speed<df_mobike_dist.se_speed.quantile(0.05)].head()

mean 1.8288589220755387
95.0 分位数 2.9496406260729646
75.0 分位数 2.297319181282499
50.0 分位数 1.874990122656719
25.0 分位数 1.3956780310929044
10.0 分位数 0.8143215529850231
5.0 分位数 0.4438671243387195
4.0 分位数 0.34814530845338243
3.0 分位数 0.2563034915875663
2.0 分位数 0.17411363675019093
1.0 分位数 0.09947094328375866
0.1 分位数 0.031518593078129195

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,se_dist,usetime,se_speed
start_time,,,,,,,,,,,,,
2016-08-29 09:21:00,270836,63136,11361,2016-08-29 09:21:00,121.369,31.252,2016-08-29 13:43:00,121.376,31.233,"121.367,31.238#121.367,31.239#121.368,31.240#1...",2209.621048,15720.0,0.140561
2016-08-26 22:05:00,1802934,320611,1211,2016-08-26 22:05:00,121.504,31.305,2016-08-26 22:27:00,121.500,31.308,"121.499,31.308#121.500,31.308#121.501,31.308#1...",505.608255,1320.0,0.383037
2016-08-24 13:32:00,1630164,143066,11182,2016-08-24 13:32:00,121.436,31.328,2016-08-24 13:44:00,121.439,31.327,"121.436,31.328#121.437,31.328#121.437,31.329#1...",306.300607,720.0,0.425418
2016-08-27 21:52:00,1623489,151285,17526,2016-08-27 21:52:00,121.478,31.289,2016-08-27 22:14:00,121.476,31.292,"121.476,31.292#121.477,31.289#121.477,31.290#1...",383.276389,1320.0,0.290361
2016-08-03 22:08:00,748550,136503,7423,2016-08-03 22:08:00,121.483,31.237,2016-08-03 22:26:00,121.484,31.234,"121.482,31.235#121.483,31.234#121.483,31.235#1...",345.995048,1080.0,0.320366

In [70]:
#(6) 利用 track 列的路线坐标数据，计算估计实际骑行距离，并重新仿照上一问的方法找出可能的异常记录。
track = '121.367,31.238#121.367,31.239#121.368,31.240#121.368,31.241#121.368,31.242#121.368,31.252#121.369,31.242#121.369,31.243#121.369,31.244#121.369,31.245#121.369,31.252#121.370,31.245#121.370,31.246#121.370,31.247#121.370,31.251#121.370,31.252#121.371,31.248#121.371,31.249#121.371,31.250#121.371,31.251'
def getdist(track):
    tlist=[]
    dist = 0
    for t in track.split('#'):
        for tt in t.split(','):
            (tlist.append(tt))
    for i in range(int(len(tlist)/2)-1):
        try:
            dist+=geodesic((tlist[i*2+1],tlist[i*2]),(tlist[i*2+3],tlist[i*2+2])).m
        except ValueError:
            dist+=0 
    return dist 
getdist(track)

6153.382508885842

In [71]:
df_mobike_dist['track_dist']=df_mobike_dist.track.apply(lambda x:getdist(x))
df_mobike_dist['track_speed'] = df_mobike_dist.apply(lambda x:x.track_dist/x.usetime,axis=1)
print('mean',df_mobike_dist.track_speed.mean())
for q in [0.95,0.75,0.5,0.25,0.1,0.05,0.04,0.03,0.02,0.01,0.001]: 
    print(q*100,'分位数',df_mobike_dist.track_speed.quantile(q))

mean 4.7176424053972985
95.0 分位数 11.119561310481727
75.0 分位数 5.648633153477631
50.0 分位数 3.8691839481829473
25.0 分位数 2.6515407909180317
10.0 分位数 1.377678636142472
5.0 分位数 0.6461082249996972
4.0 分位数 0.5022487936821581
3.0 分位数 0.36700311152670406
2.0 分位数 0.2489091789770581
1.0 分位数 0.14214735328510836
0.1 分位数 0.03553589878569083

In [72]:
#可能忘记锁车的：
df_mobike_dist[df_mobike_dist.track_speed<df_mobike_dist.track_speed.quantile(0.05)]

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track,se_dist,usetime,se_speed,track_dist,track_speed
start_time,,,,,,,,,,,,,,,
2016-08-29 09:21:00,270836,63136,11361,2016-08-29 09:21:00,121.369,31.252,2016-08-29 13:43:00,121.376,31.233,"121.367,31.238#121.367,31.239#121.368,31.240#1...",2209.621048,15720.0,0.140561,6153.382509,0.391437
2016-08-31 18:15:00,1563430,384828,945,2016-08-31 18:15:00,121.606,31.110,2016-08-31 18:58:00,121.570,31.115,"121.606,31.111#121.607,31.110#121.609,31.110#1...",3478.566745,2580.0,1.348282,432.445014,0.167614
2016-08-29 07:45:00,80889,335198,12380,2016-08-29 07:45:00,121.354,31.226,2016-08-29 08:28:00,121.356,31.225,"121.351,31.223#121.353,31.226#121.354,31.223#1...",220.465615,2580.0,0.085452,1205.743298,0.467342
2016-08-16 19:56:00,1504315,78807,185,2016-08-16 19:56:00,121.480,31.311,2016-08-16 20:04:00,121.484,31.305,"121.480,31.311#121.482,31.311",766.519391,480.0,1.596915,190.385816,0.396637
2016-08-12 22:02:00,1419609,106895,11697,2016-08-12 22:02:00,121.515,31.291,2016-08-12 22:17:00,121.537,31.301,"121.515,31.290#121.516,31.290",2369.929234,900.0,2.633255,95.214021,0.105793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-03 16:39:00,373681,85225,7484,2016-08-03 16:39:00,121.449,31.269,2016-08-03 16:57:00,121.432,31.277,"121.448,31.270#121.449,31.269",1845.992264,1080.0,1.709252,146.159845,0.135333
2016-08-24 20:25:00,1777023,313903,13647,2016-08-24 20:25:00,121.363,31.254,2016-08-24 20:41:00,121.364,31.255,"121.363,31.254#121.363,31.255#121.364,31.255#1...",146.169464,960.0,0.152260,463.165717,0.482464
2016-08-24 20:13:00,1774184,103791,15364,2016-08-24 20:13:00,121.530,31.324,2016-08-24 20:20:00,121.524,31.328,"121.528,31.324#121.529,31.324#121.530,31.324",723.055998,420.0,1.721562,190.359665,0.453237
2016-08-14 20:02:00,1459535,150325,5961,2016-08-14 20:02:00,121.359,31.253,2016-08-14 20:32:00,121.365,31.252,"121.359,31.253#121.360,31.253#121.361,31.252#1...",582.165645,1800.0,0.323425,886.059173,0.492255
2016-08-31 19:32:00,1678292,172562,2655,2016-08-31 19:32:00,121.531,31.284,2016-08-31 20:01:00,121.543,31.296,"121.531,31.284#121.532,31.284#121.535,31.285#1...",1753.760319,1740.0,1.007908,738.228978,0.424270